<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="content_box">
	
    <div class="right_bar ">
        <div class="tab-content ">
		<div class="tab-pane fade show active" id="lorem" role="tabpanel">

<table class="table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
		<th>Rol</th> 		
      </tr>
    </thead>
   <tbody th:each="perfil : ${perfiles}">
			<tr>
				<td th:text="${perfil.id}"></td>
				<td th:text="${perfil.rol}"></td>
				<!-- td th:text="${perfil.usuario.id}"></td -->
				<!-- td th:text="${perfil.usuario.username}"></td -->
				
				<
				<td>					
					<a href="#" th:href="@{/form/removeperfil?id=__${perfil.id}__}">
						<button type="button" class="brn btn.danger">eliminar</button>
					</a>													
				</td>
				<td>					
					<a href="#" th:href="@{/asignar/elejirusuario?id=__${perfil.id}__}">
						<button type="button" class="brn btn.danger">Asignar Usuario</button>
					</a>
					
										
				</td>
			</tr>
		</tbody>
  </table>
		</div>
	</div>
    </div>
</div>
<a href="#" th:href="@{/form/redirectindex}">
				<button type="button" class="brn btn.danger">volver</button>
</a>