<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Lista Personas</title>

	<!-- Bootstrap core CSS -->
	<link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="../css/modern-business.css" rel="stylesheet">

</head>

<body>

	<!-- Navigation -->
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container">
			<a class="navbar-brand" href="/">Inicio</a>
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
				data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="/rodado/buscar">Buscar Permiso por dominio</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="/lista-usuarios">Usuarios</a>
					</li>

					</li>

					<li class="nav-item">
						<a class="nav-link" href="/perfiles/lista-perfiles">Perfiles</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="/permiso/ver">Permisos</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="/lista-personas">Personas</a>
					</li>

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown"
							aria-haspopup="true" aria-expanded="false">
							User
						</a>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
							<a class="dropdown-item" href="/logout">Logout</a>

						</div>
					</li>



				</ul>
			</div>
		</div>
	</nav>

	<!-- Page Content -->
	<div class="container">

		<!-- Page Heading/Breadcrumbs -->
		<div style="margin: 50px;">
			<h1 class="mt-4 mb-3">
				<small></small>
			</h1>

		</div>
		
		<h1> Personas en la BD</h1>
		
		<table cellpadding="5">

			<thead>
				<tr>
					<th> Nombre </th>
					<th> Apellido </th>
					<th> Dni </th>

				</tr>
			</thead>
			<tbody>

				<tr th:each="persona : ${listaPersonas}">
					<td> <span th:text="${persona.nombre}" /> </td>
					<td> <span th:text="${persona.apellido}" /> </td>
					<td> <span th:text="${persona.dni}" /> </td>
					<td> <a class="btn btn-primary" th:href="@{'persona/generarUrl/' + ${persona.idPersona}}"> URL </a> </td>
				</tr>

			</tbody>

			</li>
		</table>

		<p> </p>
		<a class="btn btn-primary" th:href="@{/persona/agregarPersona}">Agregar</a>
		<a class="btn btn-primary" th:href="@{/persona/permisoPersona}" target="_blank"> Ver permisos por
			persona</a>
	</div>
	<!-- /.container -->

	<!-- Bootstrap core JavaScript -->
	<script src="vendor/jquery/jquery.min.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>



</body>

</html>