<!DOCTYPE html>



<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Cierre de sesion</title>

	<!-- Bootstrap core CSS -->
	<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="css/modern-business.css" rel="stylesheet">

</head>
<!-- Page Content -->


<body>


	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
		<div class="container-fluid">
			<a class="navbar-brand" href="/">UNLa</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
				aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">

					<li class="nav-item">
						<a class="nav-link" href="/login">Iniciar Sesion</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/registrarse">Registrarse</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/rodado">Agregar Rodado</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/persona/agregarPersona">Agregar Persona</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/permiso">Agregar Permiso</a>
					</li>

				</ul>
			</div>
		</div>

	</nav>

	<div class="container">


		<div class="row">
			<div class="col-lg-5 mb-4" style="margin: 60px;">
				<h2 class="display-5 alert alert-info fixed">Logout con éxito.</h2>
				<h1 class="display-5">Login</h1>

				<form th:action="@{/loginprocess}" id="contactForm" method="post">

					<div class="control-group form-group">
						<div class="controls">

							<label>Username</label>
							<input type="text" class="form-control" name="username" id="username" placeholder="Username"
								required data-validation-required-message="Ingresa tu usuario" />
							<p class="help-block"></p>
						</div>
					</div>

					<div class="control-group form-group">
						<div class="controls">
							<label>Password</label>
							<input type="password" class="form-control" name="password" id="password"
								placeholder="Password" />
							<p> </p>
							<button type="submit" class="btn btn-primary" id="sendlogin">Login </button>
						</div>
					</div>

				</form>
				<div th:if="${error != null}" class="alert alert-danger">
					Usuario o password incorrecta.
				</div>
			</div>
		</div>

	</div>


	<!-- Bootstrap core JavaScript -->
	<script src="/vendor/jquery/jquery.min.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>